// font-grey-blue: #697F95;
// light-grey-blue: #EBF0F2;
// blue: #4FA6D3;
// lightblue2: #F5F9FC;

$dark-blue: #34495E;
$darker-blue: #1F3341;
$light-blue: #EFFAFF;
$lighter-blue: #F5F9FC;
$grey-blue: #49596A;
