@import 'settings';

.auth-modal-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #34495E;
  filter: opacity(.5);
  z-index: 990;
}

.auth-modal-container {
  position: absolute;
  z-index: 991;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 440px;
  width: 360px;
  top: 50%;
  left: 50%;
  margin: -200px -180px;
  background-color: $lighter-blue;
  border-radius: 5px;
}

.link-nav-box {
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  background-color: white;
  border-bottom: solid 1px lightgrey;
  border-radius: 5px 5px 0 0;
  justify-content: center;
  align-items: center;
}

.link-nav-box a {
  padding: 10px 0;
  margin: 0 20px;
  color: #25374A;
}

.link-nav-box a:hover {
  border-bottom: solid 3px #4FA6D3;
}

.close-login-button {
  position: absolute;
  color: grey;
  right: 20px;
}

.close-login-button:hover {
  cursor: pointer;
  top: 10px;
}

.auth-form-errors-box {
  height: 20px;
  margin-top: 15px;
}

.auth-form-errors {
  color: red;
}

.guest-login-button-box {
  width: 80%;
}

.guest-login {
  display: flex;
  position: relative;
  width: 80%;
  color: grey;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  border-bottom: solid 1px lightgrey;
}

.guest-login-button {
  margin-bottom: 40px;
  width: 60px;
}

.guest-login > p {
  position: absolute;
  bottom: -8px;
  left: 44%;
  background-color: $lighter-blue;
  padding: 0 10px;
}


.auth-modal-container form {
  position: static;
  width: 80%;
  margin: 10px 0 20px 0;
}


.a-m-input {
  width: 100%;
  border: solid 1px lightgrey;
  border-radius: 5px;
  padding: 12px 0px;
  margin: 10px 0;
  background-color: white;
}

.auth-modal-container input {
  width: 80%;
  border: none;
  border-radius: 5px;
  padding: 0px 15px;
  margin: 0;
}

::-webkit-input-placeholder {
  color: #25374A;
}


.auth-modal-container button {
  background-color: #92CF90;
  color: white;
  text-align: center;
  width: 100%;
  padding: 7px 0;
  border-radius: 5px;
  margin: 20px 0;
}

.auth-modal-container button:hover {
  background-color: #8EC18D;
}
