@import 'settings';


.categories-container {
  // width: 60%;
  width: 770px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.categories-head {
  width: 85%;
  height: 50px;
  border-bottom: solid 1px lightgrey;
  margin: 40px auto;

  h2 {
    font-size: 24px;
    color: #697F95;
    line-height: 50px;
  }
}



/*  =============================================================
      TAGS
    ============================================================= */


.categories-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
  height: 60px;
  max-width: 180px;
  margin: 10px 10px 10px 40px;
  box-sizing: border-box;
  border-top: solid 1px $dark-blue;
  border-right: solid 1px $dark-blue;
  border-bottom: solid 1px $dark-blue;
  border-radius: 0 5px 5px 0;
  transition: transform .4s .2s,opacity .4s ease-in-out,
    background-color 0.2s ease-in-out;

  &:before {
    content: "";
    position: absolute;
    height: 42.43px;
    width: 42.43px;
    // top: 4.9px;
    left: -21.215px;
    background-color: white;
    /*background-color: $dark-blue;*/
    box-sizing: border-box;
    border-left: solid 1px $dark-blue;
    border-bottom: solid 1px $dark-blue;
    border-radius: 4px 100px 4px 15px;
    transform: rotate(45deg);
    /*transform: .4s .2s,opacity .4s ease-in-out;*/
    transition: background-color 0.2s ease-in-out;
  }

  &:after {
    content: "";
    position: absolute;
    top: 22px;
    left: -8px;
    height: 10px;
    width: 10px;
    border: solid 1px $dark-blue;
    border-radius: 100%;
    background-color: white;
  }

  &:hover {
    background-color: $dark-blue;
    cursor: pointer;
  }

  &:hover:before {
    background-color: $dark-blue;
  }

  & p {
    color: $dark-blue;
    font-family: OpenSans;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    // line-height: 16px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
  }

  &:hover > p {
    color: white;
  }

  &.checked {
    background-color: $dark-blue;
  }

  &.checked > p {
    color: white;
  }

  &.checked:before {
    background-color: $dark-blue;
  }
}
