.contact-footer-contianer {
  h2 {
    font-size: 24px;
    color: #697F95;
    line-height: 50px;
  }

  & > a {
    font-family: OpenSans;
    font-size: 16px;
    display: block;
    margin: 5px 0;
    color: grey;
  }
}

.c-f-head {
  height: 50px;
  border-bottom: solid 1px lightgrey;
}

.c-f-link-icons-box {
  display: flex;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px lightgrey;
}


@mixin contact-link-img($img-url) {
  width: 25px;
  height: 25px;
  background: image_url($img-url) no-repeat;
  background-size: 100% auto;
}

.github-img {
  @include contact-link-img("github.png");
  margin-right: 10px;
}

.angellist-img {
  @include contact-link-img("angellist.jpg");
  margin-right: 10px;
}

.linkedin-img {
  @include contact-link-img("linkedin.png");
  color: grey;
}
