
/*
  nav links
*/

.header-nav-links {
  display: flex;
  justify-content: space-between;
  width: 15%;
  font-size: 12px;
  color: #CDD9E4;
}

.upload:hover, .categories:hover {
  cursor: pointer;
  color: white;
  transition: color 0.3s ease-in-out;
}


/* right nav */


.head-nav-user {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  color: lightgrey;
}


.header-nav-user-img-box {
  height: 30px;
  width: 30px;
  overflow: hidden;
  margin-right: 20px;
  /*border: solid 1px white;*/
  border-radius: 5px;
  background-color: white;
}

.header-nav-user-img-box img {
  height: 100%;
  width: auto;
}

.header-nav-user-img-box img:hover {
  opacity: .8;
  cursor: pointer;
}

.head-nav-user a {
  /*font-family: Open Sans;*/
  font-size: 14px;
  line-height: 6px;
  font-weight: 100;
  color: white;
  transition: color 0.3s ease-in-out;
}

.head-nav-user a:hover {
  cursor: pointer;
  color: lightgrey;
}


.user-dropdown-arrow {
  position: relative;
  width: 50px;
  height: 50px;
}

.fa.fa-chevron-down {
  position: absolute;
  top: 17px;
  left: 17px;
  width: 50px;
  height: 50px;
  color: lightgrey;
}

.user-dropdown-arrow.active {
  transform: rotate(180deg);
}
