@import 'settings';

.foot-filler {
  height: 100px;
  width: 740px;
}

.player-container {
  position: fixed;
  bottom: -50px;
  height: 100px;
  width: 100%;
  z-index: 100;
  transition: bottom 0.3s ease-in-out;

  &.dropdown-active {
    bottom: 0px;
  }
}


.player-container-top {
  display: flex;
  justify-content: space-between;
  height: 50px;
  color: white;
  background-color: #2D4050;
  // border-bottom: solid 2px rgba(0, 0, 0, .3);
}



/*  =============================================================
      LEFT
    ============================================================= */


.player-container-left {
  display: flex;
  justify-content: flex-start;
}

.first-queue-box {
  display: flex;
  width: 280px;
}

.first-queue-image-box {
  width: 50px;
  height: 50px;
  background-color: white;
  overflow: hidden;
}

.first-queue-play-button {
  position: relative;
  width: 50px;
  height: 50px;

  &:hover {
    cursor: pointer;
  }

  svg {
    position: absolute;
    width: 21px;
    height: 24px;
    top: 14px;
    left: 16px;
    fill: white;
  }
}


.first-queue-play-detail {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 180px;
  padding: 5px 0;

  h2 {
    width: 180px;
    height: 22px;
    overflow: hidden;
    padding-right: 5px;
  }

  h4 {
    font-size: 14px;
    margin: 0 5px;
    max-width: 120px;
    overflow: hidden;
  }

  p {
    font-size: 12px;
  }

  button {
    display: none;
    height: 12px;
    font-size: 8px;
    padding: 2px 6px;
    border: solid 1px lightgrey;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0);
    margin: 0 5px;

    &:hover {
      background-color: rgba(255, 255, 255, .1);
    }
  }
}

.first-queue-delete {
  position: relative;

  & .fa-times {
    position: absolute;
    color: grey;
    left: -14px;

    &:hover {
      cursor: pointer;
      top: 1px;
    }
  }
}


.first-queue-bottons-box {
  width: 120px;
  height: 50px;
  border-left: solid 1px black;
  border-right: solid 1px black;
}


/*  =============================================================
      SLIDER
    ============================================================= */


.retore-play-pop-box {
  position: absolute;
  top: -36px;
  left: 400px;
  background-color: #2D4050;
  border: solid 1px black;
  border-radius: 5px;

  p {
    padding: 5px;
    color: white;
    font-size: 10px;
  }
}


.retore-play-pop-box-pointer {
  position: absolute;
  bottom: -10px;
  left: 30px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #2D4050;
}

.first-queue-playback {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.first-queue-playback-countup, .first-queue-playback-countdown {
  width: 80px;
  height: 50px;
  font-size: 12px;
  text-align: center;
  line-height: 50px;
}

.first-queue-playback-slider {
  width: 70%;
}


/*  =============================================================
      RIGHT
    ============================================================= */


.player-container-right {
  display: flex;
  justify-content: flex-end;
}

.first-queue-playback-vol-box {
  position: relative;
  height: 50px;
  width: 60px;
  text-align: center;
  border-left: solid 1px black;
  border-right: solid 1px black;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $darker-blue;
    curser: pointer;

    & > .f-q-vol-bar {
      display: block;
    }
  }

  i {
    position: absolute;
    top: 12px;
    left: 14px;
  }
}

.f-q-vol-bar {
  display: none;
  position: absolute;
  left: -1px;
  bottom: 50px;
  height: 160px;
  width: 60px;
  background-color: $darker-blue;
  border: solid 1px black;
  border-radius: 5px 5px 0 0;
}

.f-q-vol-slider {
  transform: rotate(270deg) translate(-75px, -34px);
}

.playback-queue-dropdown {
  position: relative;
  height: 50px;
  width: 100px;

  &:hover {
    background-color: $darker-blue;
    curser: pointer;
  }

  h4 {
    margin: 0;
    font-size: 14px;
    line-height: 50px;
    padding: 0 20px;
  }

  i {
    position: absolute;
    top: 15px;
    left: 70px;
  }

  &.dropdown-active i {
    top: 20px;
    transform: rotate(180deg);
  }
}





/*  =============================================================
      QUEUE DROPDOWN
    ============================================================= */


.player-container-bottom {
  display: flex;
  justify-content: flex-start;
  height: 50px;
  color: white;
  overflow: hidden;
  background-color: $darker-blue;
}

.rest-queue-box {
  display: flex;
  justify-content: space-between;
  width: 280px;

  &:hover {
    background-color: #9FC5E2;
  }
}


.rest-queue-image-box {
  width: 50px;
  height: 50px;
  background-color: white;
  overflow: hidden;
}

.rest-queue-play-detail {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 160px;
  padding: 5px 0;

  h2 {
    width: 180px;
    height: 22px;
    overflow: hidden;
  }

  h4 {
    font-size: 14px;
    margin: 0 5px;
    max-width: 120px;
    overflow: hidden;
  }

  p {
    font-size: 12px;
  }
}

.rest-queue-delete {
  position: relative;

  & .fa-times {
    position: absolute;
    color: grey;
    left: -14px;

    &:hover {
      cursor: pointer;
      top: 1px;
    }
  }
}
