.header-search-bar {
  display: flex;
  align-items: center;
  position: relative;
  width: 280px;
  transition: width 0.5s ease-in-out
}

.header-search-bar input {
  line-height: 30px;
  width: 100%;
  outline: none;
  font-size: 14px;
  /*color: lightgrey;*/
  background-color: #1F3341;
  border: solid 2px #1F3341;
  border-radius: 5px;
  padding-left: 45px;
}

.header-search-bar:before {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  left: 10px;
  background: image_url("search.png") no-repeat;
  background-size: 30px 30px;
}

::-webkit-input-placeholder {
  color: #737F88;
  /*padding-left: 15px;*/
}

.header-search-bar.search-active {
  width: 500px;
}

.search-exit {
  display: none;
  position: absolute;
  color: grey;
  top: 5px;
  right: 20px;
}

.search-exit.search-active {
  display: block;
}

.search-exit.search-active:hover {
  cursor: pointer;
  top: 6px;
}




/*
  SEARCH RESULTS
*/

.search-container {
  height: 100vh;
  width: 100vw;
}

.search-mask {
  position: absolute;
  height: 100vw;
  width: 100vw;
  z-index: 1;
  background-color: #34495E;
  opacity: .7;
}

.search-bg-img-box {
  height: 100vw;
  width: 100%;
  background: image_url("recordplayerbg.jpg") repeat;
  background-size: 100% auto;
}

.search-results-container {
  width: 80%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.search-results-shows-box, .search-results-users-box {
  margin: 100px 0;
  width: 45%;
  z-index: 2;
  background-color: rgba(0, 0, 0, .1);
  border: solid 1px black;
  border-radius: 3px;
}


.search-results-shows-head, .search-results-users-head {
  margin: 20px 0;
  padding: 10px;
}

.search-results-shows-head h2, .search-results-users-head h2 {
  font-family: OpenSans-Light;
  color: #90B2C8;
  font-size: 24px;
  border-bottom: solid 1px #90B2C8;
}

.search-results-shows-feed {
  display: block;
  width: 100%;
}

.search-result-show-item, .search-result-user-item {
  width: 80%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, .05);
}

.search-result-show-thumb, .search-result-user-thumb{
  width: 50px;
  height: 50px;
  overflow: hidden;
  border: solid 1px lightgrey;
}

.search-result-show-thumb img, .search-result-user-thumb img {
  height: auto;
  width: 100%;
  border-radius: 3px;
}

.search-result-show-item h4, .search-result-user-item h4 {
  color: white;
  font-size: 24px;
  height: 36px;
  max-width: 200px;
  overflow: hidden;
  font-family: OpenSans-Light;
}
