.show-feed-container, .user-show-feed-container {
  width: 740px;
  height: auto;
  /*margin: 0 auto;*/
  // border: solid 1px black;
  padding: 0 20px;
  margin-top: 20px;
}

.show-feed-head, .user-show-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: solid 2px #E7E7E7;
}

.show-feed-head h2 {
  color: grey;
  font-size: 20px;
}


.show-feed-play-all, .user-show-feed-play-all {
  position: relative;
  color: white;
  font-size: 12px;
  background-color: #50B348;
  padding: 7px 10px;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s ease-in-out;
}

.show-feed-play-all:hover {
  background-color: #3A9634;
}



.show-feed-play-all p {
  padding-left: 20px;
}

.show-feed-play-all svg {
  position: absolute;
  top: 10px;
  width: 11px;
  height: 12px;
  fill: white;
}



/*
  Show Item
*/


.show-feed-item-container {
  /*display: flex;
  flex-wrap: wrap;*/
  width: 100%;
  border-bottom: solid 1px #D8E2E6;
  margin: 15px 0;
  padding-bottom: 10px;
}


.s-f-i-head {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  color: grey;
}

.s-f-i-main {
  display: flex;
}

.img-box {
  /*float: left;*/
  width: 160px;
  height: 160px;
  // background-color: #EFFAFF;
  background-color: white;
  overflow: hidden;
  margin: 5px 5px 5px 0;
}

.img-box:hover {
  cursor: pointer;
}


.play-box {
  display: flex;
  justify-content: flex-start;
  width: 570px;
  flex-wrap: wrap;
  // border: solid 1px grey;
  margin: 5px 0 5px 20px;
}

.play-arrow {
  float: left;
  position: relative;
  height: 50px;
  width: 50px;
  margin: 10px;
  border: solid 2px #34495E;
  border-radius: 100%;
  // background-image: image_url("icon-play-128.png");
  // background-size: 60px 60px;
}

.play-arrow:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  border: solid 2px #9DA495;
  transition: background-color 0.4s ease-in-out,
    border 0.4s ease-in-out;
}

.show-feed-play-circle-pause {
  position: absolute;
  height: 20px;
  width: 16px;
  top: 15px;
  left: 17px;
  fill: #34495E;
}

.show-feed-play-circle-play {
  position: absolute;
  height: 20px;
  width: 16px;
  top: 15px;
  left: 19px;
  fill: #34495E;
}

.play-head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 472px;
  // width: 84%;
  height: 20px;
  color: grey;
  margin-left: 10px;
  // border: solid 1px lightgrey;
}

.play-title {
  font-size: 18px;
  height: 30px;
  width: 350px;
  color: #49596A;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}

.play-title:hover {
  color: #4FA6D3;
}

.play-tag {
  font-size: 14px;
  padding: 3px 10px;
  border: solid 1px #D8E2E6;
  border-radius: 5px;
}
.play-tag::after {
  content: " ...";
}

.author_credit {
  width: 80%;
  color: grey;
}

.author_credit a {
  color: #4FA6D3;
  padding-left: 5px;
  transition: color 0.3s ease-in-out;
}

.author_credit a:hover {
  color: #49596A;
}

.play-wave {
  /*width: 400px;*/
  width: 100%;
  height: 46px;
  background-image: image_url("wave.png");
  // border: solid 1px grey;
}

.s-f-i-foot {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  position: relative;
  // border-bottom: solid 1px lightgrey;
}

.s-f-i-foot-left {
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin: 0;
}

.s-f-i-b {
  position: relative;
  width: 50px;
  height: 32px;
  border: solid 1px #D8E2E6;
  border-radius: 5px;
}

.s-f-i-b:hover {
  cursor: pointer;
}

.fa-heart-o, .fa-retweet, .fa-recycle, .fa-music {
  position: absolute;
  width: 50px;
  height: 32px;
  top: 10px;
  left: 14px;
  color: #697F95;
}

.s-f-i-foot-right {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin: 0;
}

.s-f-i-b-r {
  position: relative;
  width: 45px;
  height: 32px;
  // border: solid 1px #D8E2E6;
  border-radius: 5px;
}

.s-f-i-b-r p {
  text-align: right;
  line-height: 32px;
  font-size: 14px;
  color: grey;
}

.fa.fa-headphones, .fa.fa-clock-o, .fa.fa-calendar {
  position: absolute;
  width: 50px;
  height: 32px;
  top: 10px;
  left: 0px;
  color: #697F95;
}

.show-feed-foot {
  position: relative;
  width: 100%;
  height: 20px;
  border-bottom: solid 1px lightgrey;
  margin: 20px 0 40px 0;
}


.s-f-f-logo-box {
  position: absolute;
  top: 8px;
  left: 50%;
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 0 5px;
  margin-bottom: 40px;
}

.s-f-f-logo {
  width: 30px;
  height: 30px;
  background: image_url("119012-200.png") no-repeat;
  background-size: 30px 30px;
  filter: opacity(.3);
}
