.show-profile-container {
  width: 100vw;
  height: auto;
}

.show-profile-header {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 360px;
  overflow: hidden;
}

.background-photo {
  position: absolute;
  top: -50%;
  // height: 100%;
  left: -30px;
  width: 120%;
  z-index: -2;
  opacity: .8;
  filter: blur(20px);
}

.header-overlap {
  position: relative;
}

.s-p-inside-header-box {
  position: absolute;
  top: -380px;
  left: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 85%;
  height: 320px;
  // margin-left: -544px;
  transform: translateX(-50%);
}


.s-p-head-items-box {
  display: flex;
  flex-wrap: wrap;
  width: 740px;
  // border: solid 1px grey;
  margin-bottom: 40px;
}

.play-circle-box {
  position: relative;
  overflow: hidden;
  width: 90px;
  height: 90px;
  border: solid 2px #36393C;
  border-radius: 100%;
  margin-right: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.4s ease-in-out,
    border 0.4s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);
    border: solid 2px #9DA495;
  }
}


.play-circle-preview-backfill {
  position: absolute;
  background-color: white;
  filter: blur(3px);
  opacity: .8;
  width: 100px;
  height: 100px;
  top: -103px;
  left: -5px;
  transition: top 1s ease-out;

  &.preview-active {
    top: -5px;
    transition: top 20s ease-in;
  }
}


.play-circle-preview-notice {
  position: absolute;
  bottom: 24px;
  left: -3px;
  height: 24px;
  width: 100px;
  text-align: center;
  color: black;
  opacity: 0;

  &.preview-active {
    opacity: 1;
    transition: opacity 1s ease-in;
  }
}


.play-circle-play {
  position: relative;
  width: 40px;
  height: 40px;
  top: 30%;
  left: 32%;
  fill: #4E5151;
  z-index: 1;
}

.play-circle-pause {
  @extend .play-circle-play;
  left: 28%;
}

.s-p-head-items-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}

.s-p-head-items-box h1 {
  font-size: 36px;
  font-weight: 100;
  height: 46px;
  line-height: 46px;
  overflow: hidden;
  text-shadow: .5px .5px 3px grey;
}

.s-p-h-infobar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  padding: 10px 0;
  margin-top: 10px;

  a {
    color: black;
    max-width: 110px;
    overflow: hidden;
    padding: 0 10px 0 15px;
  }
}

.s-p-h-foot-left {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin: 0;
}

.s-p-author-credit {
  display: flex;
  justify-content: flex-start;
  width: 140px;
}


.s-p-h-foot-right {
  display: flex;
}

.s-p-h-b-r {
  position: relative;
  top: 0px;
  width: 50px;
  height: 32px;
  border-radius: 5px;
  margin-right: 20px;

  &.cal {
    width: 140px;
  }

  p {
    line-height: 32px;
    font-size: 14px;
    color: grey;
    margin-left: 5px;
    padding-left: 10px;
  }
}


.show-image-box {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 300px;
  top: 30px;
  z-index: 1;
}



.s-p-h-overlap-footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 342px;
  width: 400px;
  margin: 0;
}

.s-p-h-b {
  position: relative;
  height: 28px;
  color: #697F95;
  font-size: 12px;
  line-height: 28px;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 10px;
  background-color: white;

  &:hover {
    cursor: pointer;
    background-color: #FCFBFB;
  }
}


.fa-heart-o, .fa-retweet, .fa-upload, .fa-music {
  position: absolute;
  width: 50px;
  height: 32px;
  top: 8px;
  left: 14px;
}

.inactive {
  background: lightgrey;
}

.inactive:hover {
  cursor: default;
  background: lightgrey;
}


.s-p-head-base {
  width: 100%;
  height: 50px;
  background-color: black;
  opacity: .1;
}


/*  =============================================================
      MAIN CONTAINER
    ============================================================= */


.s-p-main-container {
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: 100%;
  background-color: white;
  margin-top: 60px;
  margin: 40px auto 40px;
}

.s-p-about-container {
  width: 60%;
  // width: 654px;
}

.s-p-about-head {
  height: 50px;
  border-bottom: solid 1px lightgrey;

  h2 {
    font-size: 24px;
    color: #697F95;
    line-height: 50px;
    margin-bottom: 10px;
  }
}


.s-p-about-head-under {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: auto;
  border-bottom: solid 1px lightgrey;
}

.s-p-about-description {
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  margin: 10px 0;
  word-break: break-all;

  p {
    color: #697F95;
  }
}


.s-p-comments-header {
  border-bottom: solid 1px lightgrey;
  margin: 40px 0;

  h2 {
    font-size: 24px;
    color: #697F95;
    margin-bottom: 10px;
  }
}



/*  =============================================================
      USER CONTROLS
    ============================================================= */


.show-user-controls-container {
  display: flex;
  justify-content: space-around;
  height: 100px;
  width: 85%;
  align-items: center;
  margin: 0 auto;
}

.s-u-c-b {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 16.6%;
  height: 50px;
  background-color: #EBF0F2;
  transition: background-color 0.2s ease-in-out;

  h2 {
    line-height: 50px;
    font-size: 18px;
    margin-right: -20px;
  }
}

.edit:hover,
.stats:hover,
.delete:hover {
  cursor: pointer;
  background-color: #E0E3E4;
}


.s-u-c-b.edit {
  color: #4FA6D3;
}

.s-u-c-b.embed {
  // color: #697F95;
  color: grey;
}

.s-u-c-b.stats {
  // color: #697F95;
  color: #50B348;
  // color: grey;
}

.s-u-c-b.boost {
  // color: #50B348;
  color: grey;
}

.s-u-c-b.share {
  // color: #697F95;
  color: grey;
}

.s-u-c-b .fa-upload {
  position: absolute;
  top: 18px;
}

.s-u-c-b.delete {
  color: red;
}




.fa-toggle-on, .fa-trash-o, .fa-trophy,
.fa-bullhorn, .fa-upload, .fa-trash-o {
  position: absolute;

  left: 30px;
}

/*  =============================================================
      TAG
    ============================================================= */


.s-p-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
  height: 40px;
  max-width: 120px;
  margin: 10px 10px 10px 20px;
  box-sizing: border-box;
  border-top: solid 1px #34495E;
  border-right: solid 1px #34495E;
  border-bottom: solid 1px #34495E;
  border-radius: 0 5px 5px 0;
  transition: transform .4s .2s,opacity .4s ease-in-out,
    background-color 0.2s ease-in-out;
}

.s-p-tag:before {
  content: "";
  position: absolute;
  height: 28.28px;
  width: 28.28px;
  // top: 4.9px;
  left: -14.14px;
  background-color: white;
  /*background-color: #34495E;*/
  box-sizing: border-box;
  border-left: solid 1px #34495E;
  border-bottom: solid 1px #34495E;
  border-radius: 4px 100px 4px 15px;
  transform: rotate(45deg);
  /*transform: .4s .2s,opacity .4s ease-in-out;*/
  transition: background-color 0.2s ease-in-out;
}

.s-p-tag:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -8px;
  height: 10px;
  width: 10px;
  border: solid 1px #34495E;
  border-radius: 100%;
  background-color: white;
}

.s-p-tag p {
  color: #34495E;
  font-family: OpenSans;
  text-align: left;
  padding-left: 10px;
  padding-right: 20px;
  font-size: 14px;
  // line-height: 16px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

.s-p-tag:hover {
  background-color: #34495E;
  cursor: pointer;
}

.s-p-tag:hover > p {
  color: white;
}

.s-p-tag:hover:before {
  background-color: #34495E;
}

.s-p-tag.checked {
  background-color: #34495E;
}

.s-p-tag.checked > p {
  color: white;
}

.s-p-tag.checked:before {
  background-color: #34495E;
}


/*  =============================================================
      SHOW PROFILE ASIDE
    ============================================================= */


.show-profile-aside-container {
  width: 300px;
  width: 30%;
}

.show-profile-aside-container h2 {
  font-size: 24px;
  color: #697F95;
  line-height: 50px;
}

.s-p-a-favorited {
  height: 50px;
  border-bottom: solid 1px lightgrey;
}

.s-p-a-listeners h2 {
  height: 50px;
  border-bottom: solid 1px lightgrey;
}

.s-p-a-listeners-box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.listeners-thumb {
  width: 50px;
  height: 50px;
  margin: 10px 10px 10px 0;
  overflow: hidden;
}

.listeners-thumb img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}



/*  =============================================================
      COMMENT FORM
    ============================================================= */


.comment-form-container {
  display: flex;
  justify-content: space-between;
  // width: 85%;
  margin: 0;
  padding-bottom: 20px;
  border-bottom: solid 1px #EBF0F2;
}

.comment-form-img-box {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-right: 20px;
}

.comment-form-img-box img {
  border-radius: 5px;
}

.comment-form-form {
  // width: 580px;
  width: 90%;
}

.comment-form-input {
  // float: right;
  height: 90px;
  // width: 96%;
  width: 99%;
  color: #B3BEC9;
  background-color: #F5F9FC;
  border: solid 1px lightgrey;
  padding: 10px 0 10px 10px;
  border-radius: 5px;
}

.comment-form-button-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.comment-form-form button {
  color: white;
  font-size: 14px;
  height: 40px;
  padding: 0 20px;
  background-color: #4FA6D3;
  text-align: center;
  border-radius: 5px;
  margin-top: 20px;
}




/*  =============================================================
      COMMENT FEED
    ============================================================= */



.comment-feed-item {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: solid 1px #EBF0F2;
}

.comment-feed-item-img-box {
  width: 60px;
  height: 60px;
  // border: solid 1px black;
  border-radius: 5px;
  margin-right: 20px;
}

.comment-feed-item-img-box img {
  height: auto;
  width: 100%;
  border-radius: 5px;
}

.comment-feed-item-content {
  // width: 580px;
  width: 90%;
}

.comment-feed-item-head {
  display: flex;
  position: relative;
  font-size: 14px;
}

.comment-feed-item-head h4 {
  margin: 0;
  padding-right: 10px;
  color: #5873A7;
}

.comment-feed-item-head p {
  color: #8196AC;
}

.comment-delete-button {
  position: absolute;
  // border: solid 1px grey;
  // border-radius: 5px;
  right: 0px;
  padding: 0 3px;
  color: grey;
  right: 20px;
}

.comment-delete-button:hover {
  cursor: pointer;
  top: 1px;
}

.comment-feed-item-body {
  padding: 10px 0;
  color: #586573;
}
