.show-profile-container {
  width: 100vw;
  height: auto;
}

.show-profile-header {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 360px;
  overflow: hidden;
}

.background-photo {
  position: absolute;
  top: -50%;
  // height: 100%;
  left: -30px;
  width: 120%;
  z-index: -2;
  opacity: .8;
  filter: blur(20px);
}

.header-overlap {
  position: relative;
}

.s-p-inside-header-box {
  position: absolute;
  top: -380px;
  left: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 85%;
  height: 320px;
  margin-left: -544px;
}


.s-p-head-items-box {
  display: flex;
  flex-wrap: wrap;
  width: 740px;
  // border: solid 1px grey;
  margin-bottom: 40px;
}

.play-circle-box {
  width: 90px;
  height: 90px;
  border: solid 2px #36393C;
  border-radius: 100%;
  margin-right: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.4s ease-in-out,
    border 0.4s ease-in-out;
}

.play-circle-box:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  border: solid 2px #9DA495;
}

.play-circle-play {
  position: relative;
  width: 40px;
  height: 40px;
  top: 30%;
  left: 32%;
  fill: #4E5151;
}

.play-circle-pause {
  position: relative;
  width: 40px;
  height: 40px;
  top: 30%;
  left: 28%;
  fill: #4E5151;
}

.s-p-head-items-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}

.s-p-head-items-box h1 {
  font-size: 36px;
  font-weight: 100;
  height: 46px;
  line-height: 46px;
  overflow: hidden;
  text-shadow: .5px .5px 3px grey;
}

.s-p-h-infobar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  padding: 10px 0;
  margin-top: 10px;
}

.s-p-h-foot-left {
  display: flex;
  justify-content: space-between;
  width: 140px;
  margin: 0;
}

.s-p-author-credit {
  display: flex;
  justify-content: flex-start;
  width: 100px;
}

.s-p-h-infobar p {
  width: 12px;
  color: grey;
}

.s-p-h-infobar a {
  color: black;
  // text-shadow: .5px .5px 3px grey;
  padding: 0 10px;
}

.s-p-h-follow-b {
  font-size: 12px;
  background-color:rgba(255, 255, 255, 0.2);
  padding: 3px 7px;
  border: solid 2px #36393C;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.s-p-h-follow-b:hover {
  background-color:rgba(255, 255, 255, 0.3);
}


.s-p-h-foot-right {
  display: flex;
  justify-content: space-between;
  width: 140px;
  margin: 0 0 0 10px;
}

.s-p-h-b-r {
  position: relative;
  top: 10px;
  width: 50px;
  height: 32px;
  // border: solid 1px #D8E2E6;
  border-radius: 5px;
}

.fa-headphones, .fa-clock-o, .fa-calendar {
  position: absolute;
  width: 50px;
  height: 32px;
  top: 10px;
  left: 14px;
  color: #697F95;
}

.fa-headphones:hover {
  cursor: pointer;
}


.show-image-box {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 300px;
  top: 30px;
  // right: 40px;
  z-index: 1;
}



.s-p-h-overlap-footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 342px;
  width: 400px;
  margin: 0;
}

.s-p-h-b {
  position: relative;
  height: 28px;
  color: #697F95;
  font-size: 12px;
  line-height: 28px;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 10px;
  background-color: white;
}

.s-p-h-b:hover {
  cursor: pointer;
  font-size: 12.5px;
  background-color: #FCFBFB;
}

.fa-heart-o, .fa-retweet, .fa-upload, .fa-music {
  position: absolute;
  width: 50px;
  height: 32px;
  top: 8px;
  left: 14px;
  // color: #697F95;
}


.s-p-head-base {
  width: 100%;
  height: 50px;
  background-color: black;
  opacity: .1;
}


/*
  main container
*/


.s-p-main-container {
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: 100%;
  background-color: white;
  margin-top: 60px;
  margin: 40px auto 40px;
}

.s-p-about-container {
  width: 60%;
}

.s-p-about-head {
  border-bottom: solid 1px lightgrey;
}

.s-p-about-head h2 {
  font-size: 24px;
  color: #697F95;
  margin-bottom: 10px;
}

.s-p-about-head-under {
  height: 50px;
  border-bottom: solid 1px lightgrey;
}

.s-p-about {

}

.s-p-about-description {
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  margin: 10px 0;
  word-break: break-all;
}

.s-p-about-description p {
  color: #697F95;
}



/*
  User Controls
*/

.show-user-controls-container {
  display: flex;
  justify-content: space-around;
  height: 100px;
  width: 80%;
  align-items: center;
  margin: 0 auto;
}

.s-u-c-b {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 16.6%;
  height: 50px;
  background-color: #EBF0F2;
  transition: background-color 0.2s ease-in-out;
}

.s-u-c-b:hover {
  cursor: pointer;
  background-color: #E0E3E4;
}

.s-u-c-b h2 {
  line-height: 50px;
  font-size: 18px;
  margin-right: -20px;
}

.s-u-c-b.edit {
  color: #4FA6D3;
}

.s-u-c-b.embed {
  color: #697F95;
}

.s-u-c-b.stats {
  color: #697F95;
}

.s-u-c-b.boost {
  color: #50B348;
}

.s-u-c-b.share {
  color: #697F95;
}

.s-u-c-b .fa-upload {
  position: absolute;
  top: 18px;
}

.s-u-c-b.delete {
  color: red;
}




.fa-toggle-on, .fa-trash-o, .fa-trophy,
.fa-bullhorn, .fa-upload, .fa-trash-o {
  position: absolute;

  left: 30px;
}


// .fa-trash-o {
//   position: absolute;
//   top: 18px;
//   left: 30px;
// }


/*
  Show Profile Aside
*/


.show-profile-aside-container {
  width: 300px;
}

.show-profile-aside-container h2 {
  font-size: 24px;
  color: #697F95;
}

.s-p-a-favorited {
  height: 50px;
  border-bottom: solid 1px lightgrey;
}

.s-p-a-listeners {
  height: 50px;
  border-bottom: solid 1px lightgrey;
}

.s-p-a-beatport {
  height: 50px;
  border-bottom: solid 1px lightgrey;
}
