.upload-form-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 20px auto;
  // border: solid 2px black;
}

.upload-header {
  width: 100%;
  border-bottom: solid 2px #EBF0F2;
}

.upload-header h1 {
  color: #697F95;
  font-size: 20px;
  padding: 10px 0;
}

.upload-banners-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 102px;
  margin-top: 10px;
  align-items: center;
}

.upload-spinner-box {
  position: relative;
  height: 100px;
  width: 100px;
  margin: 0;
}

.upload-spinner-box.upload-in-progress {
  -webkit-animation:spin 3s linear infinite;
  -moz-animation:spin 3s linear infinite;
  animation:spin 3s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.loading-marquee {
  display: none;
  text-align: center;
  font-size: 18px;
  color: #4FA6D3
}

.loading-marquee.upload-in-progress {
  display: block;
}


.fa-refresh {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #9FC5E2;
  margin: 0 auto;
}

.upoad-form-box {
}

.upload-form-box form {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  align-items: center;
}

.audio-file-name {
  color: #E59095;
}

.upload-form-box p {
  margin: 5px;
}

.p-red {
  color: #4FA6D3;
}


.upload-input-lower-box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 40px;
}

.upload-input-audio, .upload-input-image {
  color: white;
  text-align: center;
  position: relative;
  line-height: 40px;
  width: 120px;
  height: 40px;
  background-color: #9FC5E2;
  border-radius: 5px;
  margin: 20px 0 10px 0;
  overflow: hidden;
  z-index: 1;
}

.upload-input-audio:hover, .upload-input-image:hover {
  background-color: #9ABBD5;
}

.upload-input-image {
    top: 160px;
    left: 90px;
}

.upload-input-audio input, .upload-input-image input {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: -85px;
  width: 200px;
  height: 40px;
  font-size: 50px;
}

.upload-input-audio input, .upload-input-image input {
  cursor: pointer;
}

.upload-image-preview-box {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #F5F9FC;
  border: solid 1px #EBF0F2;
  overflow: hidden;
}

.image-preview {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
}

.fa-cloud-upload {
  position: absolute;
  top: 100px;
  left: 112px;
  width: 30px;
  height: 30px;
  color: #9FC5E2;
  z-index: 1;
}

.upload-input-lower-box-text-input-box {
  width: 760px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.u-f-title, .u-f-descript {
  height: 24px;
  background-color: white;
  border: solid 1px lightgrey;
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px 10px 10px;
}


.u-f-title .clicked {
  background-color: #F5F9FC;
}

// .u-f-tag {
//   width: 50px;
//   height: 50px;
// }

.u-f-tags-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-top: 20px;
  justify-content: center;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(5); /* IE */
  -moz-transform: scale(5); /* FF */
  -webkit-transform: scale(5); /* Safari and Chrome */
  -o-transform: scale(5); /* Opera */
  padding: 10px;
  z-index: 1;
  opacity: 0;
  position: absolute;
  top: 40%;
  right: 50%;
}

/* tag  */


.u-f-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
  height: 40px;
  max-width: 120px;
  margin: 10px 10px 10px 20px;
  border-top: solid 1px #4FA6D3;
  border-right: solid 1px #4FA6D3;
  border-bottom: solid 1px #4FA6D3;
  border-radius: 0 5px 5px 0;
  transition: transform .4s .2s,opacity .4s ease-in-out,
    background-color 0.2s ease-in-out;
}

.u-f-tag:before {
  content: "";
  position: absolute;
  height: 29.28px;
  width: 29.28px;
  top: 4.9px;
  left: -14.7px;
  background-color: white;
  /*background-color: #34495E;*/
  border-left: solid 1px #4FA6D3;
  border-bottom: solid 1px #4FA6D3;
  border-radius: 5px 100px 5px 15px;
  transform: rotate(45deg);
  /*transform: .4s .2s,opacity .4s ease-in-out;*/
  transition: background-color 0.2s ease-in-out;
}

.u-f-tag:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -8px;
  height: 10px;
  width: 10px;
  border: solid 1px #4FA6D3;
  border-radius: 100%;
  background-color: white;
}

.u-f-tag p {
  color: #4FA6D3;
  font-family: OpenSans-Light;
  text-align: left;
  padding-left: 10px;
  padding-right: 20px;
  font-size: 14px;
  // line-height: 16px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

.u-f-tag:hover {
  background-color: #4FA6D3;
  cursor: pointer;
}

.u-f-tag:hover > p {
  color: white;
}

.u-f-tag:hover:before {
  background-color: #4FA6D3;
}

.u-f-tag.checked {
  background-color: #4FA6D3;
}

.u-f-tag.checked > p {
  color: white;
}

.u-f-tag.checked:before {
  background-color: #4FA6D3;
}


/* tag ^^^^ */





.upload-form-box button {
  color: white;
  height: 40px;
  width: 100px;
  background-color: #50B348;
  text-align: center;
  border-radius: 5px;
  margin: 20px;
}

.upload-form-box button:hover {
  background-color: #44A73D;
}

.edit-form-delete-link {
  color: #E59095;
  text-align: center;
  cursor: pointer;
}



.edit-form-delete-link:hover {
  text-decoration: underline;
}









/*
*/
