@import 'settings';

.user-welcome-container {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}


/*
  inner-header-container
*/

.inner-header-clear {
  width: 100vw;
  height: 42px;
}

.inner-header-container {
  /*position: fixed;*/
  position: absolute;
  right: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  background-color: $light-blue;

  p {
    display: inline-block;
    line-height: 42px;
    font-size: 12px;
    color: #8196A7;
  }
}

.inner-header-width-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 42px;
  margin: 0 auto;
}


.i-h-links {
  margin-right: 60px;
  height: 40px;
  position: relative;
}

.i-h-links:first-of-type:hover > *,
.i-h-links:last-of-type:hover > * {
  cursor: pointer;
  color: #4FA6D3;
  transition: color 0.2s ease-in-out;
}

.fa-database, .fa-play-circle-o, .fa-history,
.fa-star-o, .fa-fire {
  position: absolute;
  top: 12px;
  left: -30px;
  width: 40px;
  height: 40px;
  color: #8196A7;
}


.user-welcome-feed {
  width: 740px;
  margin-top: 20px;
}

.user-welcome-feed-head {
  height: 50px;
  border-bottom: solid 1px lightgrey;

  h2 {
    font-size: 24px;
    color: #697F95;
    line-height: 50px;
  }
}


@media screen and (min-width: 1600px) {
  .user-welcome-container {
    width: 70%;
  }
}
