.user-welcome-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}


/*
  inner-header-container

*/
.inner-header-clear {
  width: 100vw;
  height: 42px;
}

.inner-header-container {
  /*position: fixed;*/
  right: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  background-color: #EFFAFF;
}

.inner-header-width-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 42px;
  margin: 0 auto;
}

.inner-header-container p {
  display: inline-block;
  line-height: 42px;
  font-size: 12px;
  color: grey;
}

.i-h-links {
  margin-right: 20px;
  height: 40px;
  position: relative;
}

.fa.fa-database, .fa.fa-play-circle-o, .fa.fa-history,
.fa.fa-heart-o, .fa.fa-fire {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  color: #EFFAFF;
}
