.user-welcome-container {
  width: 90%;
  /*height: 1500px;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}


/*
  inner-header-container

*/
.inner-header-clear {
  width: 100%;
}

.inner-header-container {
  display: fixed;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #EFFAFF;
}

.inner-header-container p {
  display: inline-block;
  padding: 12px;
  font-size: 12px;
  color: grey;
}
