/*

colors

  white: #A27ED5;

  darkblue: #34495E;
  darkerblue: #1F3341;
  grey-blue: #49596A;
  font-grey-blue: #697F95;
  light-grey-blue: #EBF0F2;
  blue: #4FA6D3;
  lightblue: #EFFAFF;
  lightblue2: #F5F9FC;

  orange: #E79E35;

  green: #50B348

  purple: #A27ED5;

  milli pink: #E59095;


fonts
  Open Sans: <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

*/
