.user-welcome-aside-container {
  width: 300px;
  margin: 20px 0;
  /*border: solid 1px grey;*/
}

.u-w-a-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: solid 1px #E7E7E7;
}

.u-w-a-head h2 {
  color: grey;
  font-size: 20px;
}


.u-w-a-follow-spinner {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 5px;
}

.fa.fa-refresh {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 8px;
  left: 14px;
  color: #4FA6D3;
}



.u-w-a-list {

}
.auth-modal-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #34495E;
  filter: opacity(.5);
  z-index: 990;
}

.auth-modal-container {
  position: absolute;
  z-index: 991;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 440px;
  width: 360px;
  top: 50%;
  left: 50%;
  margin: -200px -180px;
  background-color: #F5F9FC;
  border-radius: 5px;
}

.link-nav-box {
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  background-color: white;
  border-bottom: solid 1px lightgrey;
  border-radius: 5px 5px 0 0;
  justify-content: center;
  align-items: center;
}

.link-nav-box a {
  padding: 10px 0;
  margin: 0 20px;
  color: #25374A;
}

.link-nav-box a:hover {
  border-bottom: solid 3px #4FA6D3;
}

.close-login-button {
  position: absolute;
  color: grey;
  right: 20px;
}

.close-login-button:hover {
  cursor: pointer;
  top: 10px;
}

.auth-form-errors-box {
  height: 20px;
  margin-top: 15px;
}

.auth-form-errors {
  color: red;
}

.guest-login-button-box {
  width: 80%;
}

.guest-login {
  display: flex;
  position: relative;
  width: 80%;
  color: grey;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  border-bottom: solid 1px lightgrey;
}

.guest-login-button {
  margin-bottom: 40px;
  width: 60px;
}

.guest-login > p {
  position: absolute;
  bottom: -8px;
  left: 44%;
  background-color: #F5F9FC;
  padding: 0 10px;
}





.auth-modal-container form {
  position: static;
  width: 80%;
  margin: 10px 0 20px 0;
}


.a-m-input {
  width: 100%;
  border: solid 1px lightgrey;
  border-radius: 5px;
  padding: 12px 0px;
  margin: 10px 0;
  background-color: white;
}

.auth-modal-container input {
  width: 80%;
  border: none;
  border-radius: 5px;
  padding: 0px 15px;
  margin: 0;
  /*background-color: white;*/
}

::-webkit-input-placeholder {
  color: #25374A;
  /*padding-left: 15px;*/
}


.auth-modal-container button {
  background-color: #92CF90;
  color: white;
  text-align: center;
  width: 100%;
  padding: 7px 0;
  border-radius: 5px;
  margin: 20px 0;
}

.auth-modal-container button:hover {
  background-color: #8EC18D;
}
/* line 1, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/base.scss */
body {
  font-family: OpenSans;
}

/* line 5, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/base.scss */
.head-filler {
  height: 50px;
  z-index: -1;
}

/* line 10, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/base.scss */
.header-nav-container {
  height: 50px;
  position: absolute;
  width: 100vw;
  z-index: 2;
  background-color: #34495E;
}

/* line 18, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/base.scss */
.header-nav-inside-box {
  height: 50px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 0 auto;
}

/* line 28, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/base.scss */
.header-nav-container h2 {
  position: relative;
  font-size: 20px;
  line-height: 50px;
}

/* line 34, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/base.scss */
.header-nav-container h2:hover {
  color: lightgrey;
  transition: color 0.2s ease-in-out;
}

/* line 39, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/base.scss */
.header-nav-container h2:hover:before {
  filter: invert(80%);
  transition: filter 0.2s ease-in-out;
}

/* line 44, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/base.scss */
.header-nav-container h2:before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: -34px;
  z-index: 1;
  height: 30px;
  width: 30px;
  float: left;
  background: url(/assets/119012-200-b55bb0bc7650fd22dd494b3953a257d026d08da4e16ab8701df6e00ad744c2e8.png) no-repeat;
  background-size: 30px 30px;
  filter: invert(100%);
}

/* line 59, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/base.scss */
.head-nav-right {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 14px;
}

/* line 66, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/base.scss */
.head-nav-button-login {
  margin: 10px;
}

/* line 70, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/base.scss */
.head-nav-right p {
  color: lightgrey;
}

/* line 74, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/base.scss */
.head-nav-button-signin {
  background-color: #4FA6D3;
  padding: 7px 10px;
  border-radius: 5px;
  margin: 10px;
}

/*
  nav links
*/


.header-nav-links {
  display: flex;
  justify-content: space-between;
  width: 240px;
  font-size: 12px;
  color: #CDD9E4;
}

.upload, .categories {
  position: relative;
  height: 50px;
  text-align: center;
}

.upload h4, .categories h4 {
  line-height: 50px;
  margin: 0;
}

.upload:hover, .categories:hover {
  cursor: pointer;
  color: white;
  transition: color 0.3s ease-in-out;
}

.fa-superpowers {
  width: 20px;
  height: 20px;
}

.fa-superpowers, .fa-th-large {
  position: absolute;
  top: 18px;
  left: 0;
}


/* right nav */


.head-nav-user {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  color: lightgrey;
}


.header-nav-user-img-box {
  height: 30px;
  width: 30px;
  overflow: hidden;
  margin-right: 20px;
  /*border: solid 1px white;*/
  border-radius: 5px;
  background-color: white;
}

.header-nav-user-img-box img {
  height: 100%;
  width: auto;
}

.header-nav-user-img-box img:hover {
  opacity: .8;
  cursor: pointer;
}

.head-nav-user a {
  /*font-family: Open Sans;*/
  font-size: 14px;
  line-height: 6px;
  font-weight: 100;
  color: white;
  transition: color 0.3s ease-in-out;
}

.head-nav-user a:hover {
  cursor: pointer;
  color: lightgrey;
}


.user-dropdown-arrow {
  position: relative;
  width: 50px;
  height: 50px;
}

.fa.fa-chevron-down {
  position: absolute;
  top: 17px;
  left: 17px;
  width: 50px;
  height: 50px;
  color: lightgrey;
}

.user-dropdown-arrow.active {
  transform: rotate(180deg);
}
/* Reset */


html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}
/* line 1, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/search.scss */
.header-search-bar {
  display: flex;
  align-items: center;
  position: relative;
  width: 30%;
}

/* line 8, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/search.scss */
.header-search-bar input {
  line-height: 30px;
  width: 100%;
  outline: none;
  font-size: 14px;
  /*color: lightgrey;*/
  background-color: #1F3341;
  border: solid 2px #1F3341;
  border-radius: 5px;
  padding-left: 45px;
}

/* line 20, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/search.scss */
.header-search-bar:before {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  left: 10px;
  background: url(/assets/search-6913ec2321ff75f572c92f662d90f61a65cec42e4fa5dd0f27c72c518aa14cb7.png) no-repeat;
  background-size: 30px 30px;
}

/* line 30, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/search.scss */
::-webkit-input-placeholder {
  color: lightgrey;
  /*padding-left: 15px;*/
}
/* line 1, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.show-feed-container, .user-show-feed-container {
  width: 740px;
  height: auto;
  /*margin: 0 auto;*/
  padding: 0 20px;
  margin-top: 20px;
}

/* line 10, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.show-feed-head, .user-show-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: solid 2px #E7E7E7;
}

/* line 18, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.show-feed-head h2 {
  color: grey;
  font-size: 20px;
}

/* line 24, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.show-feed-play-all, .user-show-feed-play-all {
  position: relative;
  color: white;
  font-size: 12px;
  background-color: #50B348;
  padding: 7px 10px;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s ease-in-out;
}

/* line 35, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.show-feed-play-all:hover {
  background-color: #3A9634;
}

/* line 41, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.show-feed-play-all p {
  padding-left: 20px;
}

/* line 45, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.show-feed-play-all svg {
  position: absolute;
  top: 10px;
  width: 11px;
  height: 12px;
  fill: white;
}

/*
  Show Item
*/
/* line 60, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.show-feed-item-container {
  /*display: flex;
  flex-wrap: wrap;*/
  width: 100%;
  border-bottom: solid 1px #D8E2E6;
  margin: 15px 0;
  padding-bottom: 10px;
}

/* line 70, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.s-f-i-head {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  color: grey;
}

/* line 77, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.s-f-i-main {
  display: flex;
}

/* line 81, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.img-box {
  /*float: left;*/
  width: 160px;
  height: 160px;
  background-color: white;
  overflow: hidden;
  margin: 5px 5px 5px 0;
}

/* line 91, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.img-box:hover {
  cursor: pointer;
}

/* line 96, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.play-box {
  display: flex;
  justify-content: flex-start;
  width: 570px;
  flex-wrap: wrap;
  margin: 5px 0 5px 20px;
}

/* line 105, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.play-arrow {
  float: left;
  position: relative;
  height: 50px;
  width: 50px;
  margin: 10px;
  border: solid 2px #34495E;
  border-radius: 100%;
}

/* line 117, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.play-arrow:hover {
  cursor: pointer;
}

/* line 121, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.play-arrow svg {
  position: absolute;
  height: 20px;
  width: 16px;
  top: 15px;
  left: 19px;
  fill: #34495E;
}

/* line 130, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.play-head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*width: 400px;*/
  width: 82%;
  height: 20px;
  color: grey;
  margin-left: 10px;
}

/* line 142, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.play-title {
  font-size: 18px;
  color: #49596A;
  transition: color 0.3s ease-in-out;
}

/* line 148, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.play-title:hover {
  color: #4FA6D3;
}

/* line 152, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.play-tag {
  font-size: 14px;
  padding: 3px 10px;
  border: solid 1px #D8E2E6;
  border-radius: 5px;
}

/* line 158, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.play-tag::after {
  content: " ...";
}

/* line 162, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.author_credit {
  width: 80%;
  color: grey;
}

/* line 167, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.author_credit a {
  color: #4FA6D3;
  padding-left: 5px;
  transition: color 0.3s ease-in-out;
}

/* line 173, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.author_credit a:hover {
  color: #49596A;
}

/* line 177, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.play-wave {
  /*width: 400px;*/
  width: 100%;
  height: 46px;
  background-image: url(/assets/wave-c369f2646e3f7b188142a87474fd23ce20338ddeee1645bc9ec5dbe1fc13fdc5.png);
}

/* line 185, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.s-f-i-foot {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* line 194, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.s-f-i-foot-left {
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin: 0;
}

/* line 201, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.s-f-i-b {
  position: relative;
  width: 50px;
  height: 32px;
  border: solid 1px #D8E2E6;
  border-radius: 5px;
}

/* line 209, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.s-f-i-b:hover {
  cursor: pointer;
}

/* line 213, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.fa-heart-o, .fa-retweet, .fa-recycle, .fa-music {
  position: absolute;
  width: 50px;
  height: 32px;
  top: 10px;
  left: 14px;
  color: #697F95;
}

/* line 222, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.s-f-i-foot-right {
  display: flex;
  justify-content: space-between;
  width: 140px;
  margin: 0;
}

/* line 229, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.s-f-i-b-r {
  position: relative;
  width: 50px;
  height: 32px;
  border-radius: 5px;
}

/* line 237, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.fa.fa-headphones, .fa.fa-clock-o, .fa.fa-calendar {
  position: absolute;
  width: 50px;
  height: 32px;
  top: 10px;
  left: 14px;
  color: #697F95;
}

/* line 246, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.show-feed-foot {
  width: 100%;
  height: 20px;
  border-bottom: solid 1px lightgrey;
}

/* line 253, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.s-f-f-logo-box {
  position: absolute;
  top: 8px;
  left: 50%;
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 0 5px;
  margin-bottom: 40px;
}

/* line 264, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_feed.scss */
.s-f-f-logo {
  width: 30px;
  height: 30px;
  background: url(/assets/119012-200-b55bb0bc7650fd22dd494b3953a257d026d08da4e16ab8701df6e00ad744c2e8.png) no-repeat;
  background-size: 30px 30px;
  filter: opacity(0.3);
}
/* line 1, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.show-profile-container {
  width: 100vw;
  height: auto;
}

/* line 6, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.show-profile-header {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 360px;
  overflow: hidden;
}

/* line 15, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.background-photo {
  position: absolute;
  top: -50%;
  left: -30px;
  width: 120%;
  z-index: -2;
  opacity: .8;
  filter: blur(20px);
}

/* line 26, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.header-overlap {
  position: relative;
}

/* line 30, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-inside-header-box {
  position: absolute;
  top: -380px;
  left: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 85%;
  height: 320px;
  margin-left: -544px;
}

/* line 43, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-head-items-box {
  display: flex;
  flex-wrap: wrap;
  width: 740px;
  margin-bottom: 40px;
}

/* line 51, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.play-circle-box {
  width: 90px;
  height: 90px;
  border: solid 2px #36393C;
  border-radius: 100%;
  margin-right: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.4s ease-in-out, border 0.4s ease-in-out;
}

/* line 62, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.play-circle-box:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  border: solid 2px #9DA495;
}

/* line 68, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.play-circle {
  position: relative;
  width: 40px;
  height: 40px;
  top: 26px;
  left: 30px;
  fill: #4E5151;
}

/* line 77, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-head-items-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}

/* line 84, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-head-items-box h1 {
  font-size: 36px;
  font-weight: 100;
  height: 46px;
  line-height: 46px;
  overflow: hidden;
  text-shadow: .5px .5px 3px grey;
}

/* line 93, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-h-infobar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  padding: 10px 0;
  margin-top: 10px;
}

/* line 102, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-h-foot-left {
  display: flex;
  justify-content: space-between;
  width: 140px;
  margin: 0;
}

/* line 109, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-author-credit {
  display: flex;
  justify-content: flex-start;
  width: 100px;
}

/* line 115, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-h-infobar p {
  width: 12px;
  color: grey;
}

/* line 120, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-h-infobar a {
  color: black;
  padding: 0 10px;
}

/* line 126, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-h-follow-b {
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 3px 7px;
  border: solid 2px #36393C;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

/* line 135, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-h-follow-b:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* line 140, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-h-foot-right {
  display: flex;
  justify-content: space-between;
  width: 140px;
  margin: 0 0 0 10px;
}

/* line 147, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-h-b-r {
  position: relative;
  top: 10px;
  width: 50px;
  height: 32px;
  border-radius: 5px;
}

/* line 156, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.fa-headphones, .fa-clock-o, .fa-calendar {
  position: absolute;
  width: 50px;
  height: 32px;
  top: 10px;
  left: 14px;
  color: #697F95;
}

/* line 165, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.fa-headphones:hover {
  cursor: pointer;
}

/* line 170, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.show-image-box {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 300px;
  top: 30px;
  z-index: 1;
}

/* line 182, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-h-overlap-footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 342px;
  width: 400px;
  margin: 0;
}

/* line 191, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-h-b {
  position: relative;
  height: 28px;
  color: #697F95;
  font-size: 12px;
  line-height: 28px;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 10px;
  background-color: white;
}

/* line 203, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-h-b:hover {
  cursor: pointer;
  font-size: 12.5px;
  background-color: #FCFBFB;
}

/* line 209, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.fa-heart-o, .fa-retweet, .fa-upload, .fa-music {
  position: absolute;
  width: 50px;
  height: 32px;
  top: 8px;
  left: 14px;
}

/* line 219, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-head-base {
  width: 100%;
  height: 50px;
  background-color: black;
  opacity: .1;
}

/*
  main container
*/
/* line 232, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-main-container {
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: 100%;
  background-color: white;
  margin-top: 60px;
  margin: 40px auto 40px;
}

/* line 242, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-about-container {
  width: 60%;
}

/* line 246, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-about-head {
  border-bottom: solid 1px lightgrey;
}

/* line 250, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-about-head h2 {
  font-size: 24px;
  color: #697F95;
  margin-bottom: 10px;
}

/* line 256, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-about-head-under {
  height: 50px;
  border-bottom: solid 1px lightgrey;
}

/* line 265, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-about-description {
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  margin: 10px 0;
  word-break: break-all;
}

/* line 273, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-about-description p {
  color: #697F95;
}

/*
  User Controls
*/
/* line 283, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.show-user-controls-container {
  display: flex;
  justify-content: space-around;
  height: 100px;
  width: 80%;
  align-items: center;
  margin: 0 auto;
}

/* line 292, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-u-c-b {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 16.6%;
  height: 50px;
  background-color: #EBF0F2;
  transition: background-color 0.2s ease-in-out;
}

/* line 303, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-u-c-b:hover {
  cursor: pointer;
  background-color: #E0E3E4;
}

/* line 308, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-u-c-b h2 {
  line-height: 50px;
  font-size: 18px;
  margin-right: -20px;
}

/* line 314, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-u-c-b.edit {
  color: #4FA6D3;
}

/* line 318, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-u-c-b.embed {
  color: #697F95;
}

/* line 322, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-u-c-b.stats {
  color: #697F95;
}

/* line 326, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-u-c-b.boost {
  color: #50B348;
}

/* line 330, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-u-c-b.share {
  color: #697F95;
}

/* line 334, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-u-c-b .fa-upload {
  position: absolute;
  top: 18px;
}

/* line 339, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-u-c-b.delete {
  color: red;
}

/* line 346, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.fa-toggle-on, .fa-trash-o, .fa-trophy,
.fa-bullhorn, .fa-upload, .fa-trash-o {
  position: absolute;
  left: 30px;
}

/*
  Show Profile Aside
*/
/* line 366, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.show-profile-aside-container {
  width: 300px;
}

/* line 370, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.show-profile-aside-container h2 {
  font-size: 24px;
  color: #697F95;
}

/* line 375, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-a-favorited {
  height: 50px;
  border-bottom: solid 1px lightgrey;
}

/* line 380, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-a-listeners {
  height: 50px;
  border-bottom: solid 1px lightgrey;
}

/* line 385, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/show_profile.scss */
.s-p-a-beatport {
  height: 50px;
  border-bottom: solid 1px lightgrey;
}
/* line 1, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.upload-form-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 20px auto;
}

/* line 9, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.upload-header {
  width: 100%;
  border-bottom: solid 2px #EBF0F2;
}

/* line 14, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.upload-header h1 {
  color: #697F95;
  font-size: 20px;
  padding: 10px 0;
}

/* line 20, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.upload-banners-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 102px;
  margin-top: 10px;
  align-items: center;
}

/* line 30, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.upload-spinner-box {
  position: relative;
  height: 100px;
  width: 100px;
  margin: 0;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* line 46, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.fa-refresh {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #9FC5E2;
  margin: 0 auto;
}

/* line 57, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.upload-form-box form {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  align-items: center;
}

/* line 64, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.audio-file-name {
  color: #E59095;
}

/* line 68, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.upload-form-box p {
  margin: 5px;
}

/* line 72, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.p-red {
  color: #4FA6D3;
}

/* line 77, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.upload-input-lower-box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 40px;
}

/* line 85, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.upload-input-audio, .upload-input-image {
  color: white;
  text-align: center;
  position: relative;
  line-height: 40px;
  width: 120px;
  height: 40px;
  background-color: #9FC5E2;
  border-radius: 5px;
  margin: 20px 0 10px 0;
  overflow: hidden;
  z-index: 1;
}

/* line 99, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.upload-input-audio:hover, .upload-input-image:hover {
  background-color: #9ABBD5;
}

/* line 103, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.upload-input-image {
  top: 160px;
  left: 90px;
}

/* line 108, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.upload-input-audio input, .upload-input-image input {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: -85px;
  width: 200px;
  height: 40px;
  font-size: 50px;
}

/* line 118, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.upload-input-audio input, .upload-input-image input {
  cursor: pointer;
}

/* line 122, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.upload-image-preview-box {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #F5F9FC;
  border: solid 1px #EBF0F2;
  overflow: hidden;
}

/* line 131, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.image-preview {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
}

/* line 139, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.fa-cloud-upload {
  position: absolute;
  top: 100px;
  left: 112px;
  width: 30px;
  height: 30px;
  color: #9FC5E2;
  z-index: 1;
}

/* line 149, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.upload-input-lower-box-text-input-box {
  width: 760px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* line 156, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.u-f-title, .u-f-descript {
  height: 24px;
  background-color: white;
  border: solid 1px lightgrey;
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px 10px 10px;
}

/* line 165, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.u-f-title .clicked {
  background-color: #F5F9FC;
}

/* line 169, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.upload-form-box button {
  color: white;
  height: 40px;
  width: 100px;
  background-color: #50B348;
  text-align: center;
  border-radius: 5px;
  margin: 20px;
}

/* line 179, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.upload-form-box button:hover {
  background-color: #44A73D;
}

/* line 183, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.edit-form-delete-link {
  color: #E59095;
  text-align: center;
  cursor: pointer;
}

/* line 191, /Users/calvinmcelroy/Documents/webstuff/app_course/final_project/Selector/app/assets/stylesheets/api/upload_form.scss */
.edit-form-delete-link:hover {
  text-decoration: underline;
}

/*
*/
.user-profile-container {
  width: 100vw;
  height: auto;
}

.user-profile-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  height: 240px;
  border: solid 1px black;
}

.u-p-head-items-box {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 40px;
  width: auto;
  height: 160px;
  border: solid 1px grey;
  margin-left: 100px;
}

.avatar-box {
  width: 160px;
  height: 160px;
  background-color: #EFFAFF;
}

.u-p-title-box {
}

.u-p-head-items-box h1 {
  font-size: 24px;
  width: 60%;
  padding: 20px;
}

.u-p-head-items-box button {
  color: white;
  font-size: 12px;
  background-color: #50B348;
  padding: 7px 10px;
  border-radius: 5px;
  margin: 0 20px;
}

.u-p-head-base {
  width: 100%;
  height: 80px;
}


/*
  User Profile Main
*/


.u-p-main-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}


/*
  User Profile Aside
*/

.user-profile-aside-container {
  width: 300px;
  border: solid 1px grey;
}

.u-p-a-stats-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px #E7E7E7;
}
.user-welcome-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}


/*
  inner-header-container

*/
.inner-header-clear {
  width: 100vw;
  height: 42px;
}

.inner-header-container {
  /*position: fixed;*/
  position: absolute;
  right: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  background-color: #EFFAFF;
}

.inner-header-width-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 42px;
  margin: 0 auto;
}

.inner-header-container p {
  display: inline-block;
  line-height: 42px;
  font-size: 12px;
  color: #8196A7;
}

.i-h-links {
  margin-right: 60px;
  height: 40px;
  position: relative;
}

.i-h-links:hover > * {
  color: #4FA6D3;
  transition: color 0.2s ease-in-out;
}

.fa-database, .fa-play-circle-o, .fa-history,
.fa-star-o, .fa-fire {
  position: absolute;
  top: 12px;
  left: -30px;
  width: 40px;
  height: 40px;
  color: #8196A7;
}
/*

colors

  white: #A27ED5;

  darkblue: #34495E;
  darkerblue: #1F3341;
  grey-blue: #49596A;
  font-grey-blue: #697F95;
  light-grey-blue: #EBF0F2;
  blue: #4FA6D3;
  lightblue: #EFFAFF;
  lightblue2: #F5F9FC;

  orange: #E79E35;

  green: #50B348

  purple: #A27ED5;

  milli pink: #E59095;


fonts
  Open Sans: <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

*/

/*
transition: background-color 0.3s ease-in-out,
  border 0.4s ease-in-out;
*/

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */



 @font-face {
   font-family: 'OpenSans';
   src: font-url('OpenSans-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
 }

@import "api/reset.css";

@import "api/base.scss";
